<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>948672597381-5s5hu48l421ftnho0kbklbp0lljce8i0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.948672597381-5s5hu48l421ftnho0kbklbp0lljce8i0</string>
	<key>API_KEY</key>
	<string>AIzaSyCc-5-1mhnu_D7UGN55BnYrnPnWYcPr3Wc</string>
	<key>GCM_SENDER_ID</key>
	<string>948672597381</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MN.Sportly</string>
	<key>PROJECT_ID</key>
	<string>sportly-ba19a</string>
	<key>STORAGE_BUCKET</key>
	<string>sportly-ba19a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:948672597381:ios:16c19339915c9c2c2b88ec</string>
	<key>DATABASE_URL</key>
	<string>https://sportly-ba19a-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>